.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rhistory
/.Rproj.user
.Rhistory
.Rproj.user/8D934E7D/pcs/source-pane.pper
.Rproj.user/8D934E7D/pcs/windowlayoutstate.pper
.Rproj.user/8D934E7D/pcs/workbench-pane.pper
.Rproj.user/8D934E7D/sources/prop/INDEX
man/Correct_Amplitude_Xu2017.Rd
.Rhistory
.Rproj.user/8D934E7D/pcs/source-pane.pper
.Rproj.user/8D934E7D/pcs/windowlayoutstate.pper
.Rproj.user/8D934E7D/pcs/workbench-pane.pper
.Rproj.user/8D934E7D/pcs/source-pane.pper
.Rproj.user/8D934E7D/pcs/windowlayoutstate.pper
.Rproj.user/8D934E7D/pcs/workbench-pane.pper
*.pper
